/* Temel Stil */
body {
    background-color: #B1B2FF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); /* Siyah karartma rengi */
  }

/* Navbar Stili */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Yan Menü Stili */
.sidebar {
    background-color: #eee;
    width: 250px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

/* İçerik Alanı Stili */
.content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.charts {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

.summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Altbilgi Stili */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}